#gmb_directions_group_repeat {
  .cmb-add-row {
	//display: none;
  }
}

//Directions Repeater
#gmb_directions_group_repeat {

  .gmb-travel-mode {
	width: 98%;
  }

  .gmb-destination-fieldset {
	padding-left: 25px;
	position: relative;

	.gmb-directions-marker {
	  position: absolute;
	  left: -3px;
	  top: 50%;
	  height: 40px;
	  margin-top: -20px;
	}
  }

  //Destinations
  .cmb-type-destination {
	.cmb-field-list {
	  border: none !important;
	  .cmb-td {
		padding: 0;
		width: 100%;
	  }
	}

	label {
	  padding-right: 0;
	}
	.destination-longitude {
	  margin-right: 2%;
	}
	.gmb-directions-autocomplete {
	  width: 100%;
	  input {
		width: 100%;
	  }
	}
	.destination-longitude, .destination-latitude {
	  width: 49%;
	  float: left;
	  input {
		padding: 3px;
		font-size: 12px;
		width: 100%;
	  }
	}

	.destination-place-id {
	  display: none;
	}

	.cmb-remove-field-row {
	  background: #333;
	}

  }

  .cmb-repeatable-grouping {
	.button {
	  padding: 3px 5px;
	  height: auto;
	  font-size: 11px;
	  vertical-align: middle;
	  line-height: 1em;
	  margin: 2px 0 0;
	  top: 0 !important;

	  &.cmb-shift-rows {
		margin-top: 0;
		margin-right: 5px;
		span {
		  line-height: 11px;
		  height: auto;
		}
	  }

	}
  }

}
